* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: #000;
  }
  
  header {
    position: fixed;
    width: 100%;
    height: 12vh;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 0 2rem;
    box-shadow: 0px 6px 20px rgb(118, 118, 118);
  }
  
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    cursor: pointer;
  }
  
  .logo {
    padding: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    box-shadow: 0px 0.1px 10px rgb(255, 255, 255);
  }
  
  form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #000000;
  }
  
  input {
    padding: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    font-size: 16px;
    color: #000000;
    opacity: 0.8;
    outline: none;
  }
  
  .toggle {
    display: none;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 550px;
  }
  
  .gaming:hover {
    color: rgb(22, 195, 65);
  }
  
  .Sport:hover {
    color: rgb(0, 128, 255);
  }
  
  .télé:hover {
    color: rgb(255, 226, 5);
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  

  .theme {
    display: flex;
    flex-direction: row;
  }
  
/* projets*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 200px;
  
}


/*1er bloc*/
.wrapper1 {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 200px;
  width: 350px;
  /*largeur*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur*/
  margin-top: 190px;
  /*haut ou bas*/
}

.titre {

  border-radius: 15px;
  overflow: hidden;
  color:white;
  margin-left: 100px;
  width: 350px;
  /*largeur*/
  /*box-shadow: 0px 4px 30px rgb(255, 255, 255);*/
  height: 350px;
  /*haueur*/
  margin-top: 250px;
  /*haut ou bas*/
}

h1 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}

.profil {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}
/*1 bloc*/

/*2 bloc*/
.wrapper2 {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 650px;
  width: 350px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: -350px;
  /*haut ou bas*/

}

.profile1 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}
/*2eme bloc*/
/*3eme bloc*/
.wrapper3 {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 1099px;
  width: 350px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: -350px;
  /*haut ou bas*/
}

.profile2 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}
/*3eme bloc*/

/*4eme bloc*/
.wrapper4 {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 195px;
  width: 350px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: 100px;
  /*haut ou bas*/ 
}

/*programmation*/
/*expliquation*/
.wrapper5 {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 215px;
  width: 1510px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: 150px;
  /*haut ou bas*/ 
}


.profile4 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}

/*explication text*/
.container .p1 {

  color: #000000;
  margin-left: 100px;
  margin-top: 300px;


}

.wrapper6 {

  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 195px;
  width: 350px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: 100px;
  /*haut ou bas*/ 
}

.wrapper6 .img {
margin: 50px;
padding: 50px;
}

.profile5 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}

.wrapper7 {

  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 650px;
  width: 350px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: -350px;
  /*haut ou bas*/ 

}

.profile6 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}

.wrapper8 {

  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 1099px;
  width: 350px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: -350px;
  /*haut ou bas*/ 

}

.profile7 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}

.wrapper9 {

  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 190px;
  width: 350px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: 100px;
  /*haut ou bas*/ 

}

.profile8 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}

.wrapper10 {

  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 190px;
  width: 350px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: 100px;
  /*haut ou bas*/ 

}

.profile9 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}
/*expliquation programmation*/
/*Ylocks*/
/*fiche ylocks*/
/*text*/

.container .h2 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
  text-decoration: underline;
}

.wrapper10 {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 215px;
  width: 800px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 390px;
  /*haueur image*/
  margin-top: 190px;
  /*haut ou bas*/ 
}


.profile5 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}

.wrapper11 {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 1390px;
  width: 350px;
  /*largeur image*/
  box-shadow: 0px 4px 30px rgb(255, 255, 255);
  height: 350px;
  /*haueur image*/
  margin-top: -350px;
  /*haut ou bas*/ 
}


.profile6 {
  background-image: url("");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 50px;
  padding: 50px;
}








/*page groupie tracker*/

  @media all and (max-width: 991px) {
      header {
          background: transparent;
      }
  
      .toggle {
          display: block;
          font-size: 2rem;
          cursor: pointer;
          position: relative;
          z-index: 20;
          background-color: #000;
      }
  
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #000;
      flex-direction: column;
      padding: 2rem;
      justify-content: space-around;
      transform: translateX(-100%);
      transition: transform 1s;
    }
  
    .menu li a {
      font-size: 2rem;
    }
  
    .btn {
      font-size: 2rem;
    }
  
    .ouvrir {
      display: block;
    }
    .fermer {
      display: none;
    }
    .open .ouvrir {
      display: none;
    }
    .open .fermer {
      display: block;
    }
    .open .menu {
      transform: translateX(0);
    }
    .publication1{
      width: 550px;
    }
  }
  
  @media all and (max-width: 1400px) {
    .logo {
      position: relative;
      width: 50px;
      height: 50px;
    }
  
    .input {
      background: #000;
    }
  
    form {
      width: 25rem;
    }
  

  
    .theme {
      margin-top: 75rem;
      display: flex;
      flex-direction: column;
    }
  
  }